@import 'reset.scss';

/* ---- google font ---- */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

/* ---- color ---- */
// main
$primary-red: hsl(7, 99%, 70%);
$primary-yellow: hsl(51, 100%, 49%);
// graphic design text
$primary-desaturated-cyan: hsl(167, 40%, 24%);
// photography text
$primary-dark-blue: hsl(198, 62%, 26%);
// footer
$primary-dark-moderate-cyan-keep: hsl(168, 34%, 41%);
$primary-dark-moderate-cyan: #90d4c5;
$primary-dark-green: #2a7261;
// others
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
$black: #000;
$white-opacity: rgba(255, 255, 255, 30%);

/* ---- font ---- */
$primary-font-size: 1.8rem;
$heading-line-height: 1.2;
$text-line-height: 1.7;
$primary-font-color: $dark-grayish-blue;
$primary-font-family: 'Barlow', sans-serif;
$secondary-font-family: 'Fraunces', serif;
$primary-font-weight: 600;
$secondary-font-weight-normal: 700;
$secondary-font-weight-bold: 900;

/* ---- base ---- */
html {
  font-size: 62.5%;
  // scroll-behavior: smooth;
}
body {
  font-size: $primary-font-size;
  font-family: $primary-font-family;
  font-weight: $primary-font-weight;
  color: $primary-font-color;
  line-height: $text-line-height;
}
img {
  vertical-align: middle;
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* ---- common ---- */
.hide {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: -9999;
  visibility: hidden;
}

/* ---- header ---- */
.header {
  background-image: url('../images/mobile/image-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  padding: 30px;
  text-align: center;
  position: relative;
}

.header {
  .navigation {
    margin-bottom: 130px;
  }
  .slogan {
    font-family: $secondary-font-family;
    font-weight: $secondary-font-weight-bold;
    font-size: 4.4rem;
    color: $white;
    line-height: $heading-line-height;
    letter-spacing: 5px;
  }
  .arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100px;
    height: 250px;
    transform: translateX(-50%);
    .pic {
      -webkit-animation-name: down;
      animation-name: down;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
    }
  }
}

// animation for arrow
@-webkit-keyframes down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(106px);
  }
}

@keyframes down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(106px);
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .hamburger {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .global-nav {
    display: none;
    position: absolute;
    top: 70px;
    width: 100%;
    background-color: #fff;
    &::after {
      position: absolute;
      content: '';
      top: -19px;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 20px 20px;
      border-color: transparent transparent #ffffff transparent;
    }
  }
}

// component-global-nav
.global-nav__ {
  &menu {
    padding: 20px 0;
  }
  &item {
    margin: 15px 0;
  }
  &link {
    display: inline-block;
    color: $dark-grayish-blue;
    padding: 15px 30px;
    border-radius: 100px;
    &--current {
      font-family: $secondary-font-family;
      font-weight: $secondary-font-weight-normal;
      background-color: $primary-yellow;
      color: $black;
    }
  }
}

/* ---- feature ---- */

// component-feature-card
.feature-card__ {
  &content {
    text-align: center;
    padding: 13.3333333333% 8%;
    // padding: 50px 30px;
  }
  &pic {
    width: 100%;
  }
  &heading {
    font-family: $secondary-font-family;
    font-weight: $secondary-font-weight-bold;
    font-size: 3.2rem;
    color: $very-dark-desaturated-blue;
    line-height: $heading-line-height;
    margin-bottom: 9.52380952381%;
    // margin-bottom: 30px;
  }
  &txt {
    margin-bottom: 9.52380952381%;
    // margin-bottom: 30px;
  }
  &link {
    display: inline-block;
    font-family: $secondary-font-family;
    font-weight: $secondary-font-weight-bold;
    color: $very-dark-desaturated-blue;
    position: relative;
    line-height: 1.6;

    &::after {
      content: '';
      position: absolute;
      left: -8px;
      bottom: 0;
      z-index: -1;
      display: block;
      width: calc(100% + 16px);
      border-radius: 100px;
      height: 10px;
      opacity: 0.2;
      transition: opacity 0.5s;
    }
    &:hover::after {
      opacity: 1;
    }
  }
  &link--yellow {
    &::after {
      background-color: $primary-yellow;
    }
  }
  &link--red {
    &::after {
      background-color: $primary-red;
    }
  }
}

// component-service-card
.service-card {
  padding: 400px 30px 50px;
  text-align: center;

  .heading {
    font-family: $secondary-font-family;
    font-weight: $secondary-font-weight-bold;
    font-size: 3rem;
    margin-bottom: 30px;
  }
  .txt {
    margin-left: auto;
    margin-right: auto;
    max-width: 380px;
    max-height: 180px;
    overflow: auto;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      width: 12px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #555;
    }
  }

  &--design {
    background-image: url('../images/desktop/image-graphic-design.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: $primary-desaturated-cyan;
  }
  &--photography {
    background-image: url('../images/desktop/image-photography.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: $primary-dark-blue;
  }
}

/* ---- testimonials ---- */

.testimonials {
  // padding: 13.3333333333% 10.6666666667%;
  padding: 50px 40px;
  .heading {
    font-family: $secondary-font-family;
    font-weight: $secondary-font-weight-bold;
    text-align: center;
    color: $grayish-blue;
    letter-spacing: 4px;
    font-size: 1.6rem;
  }
}

// component-client-card

.client-card {
  text-align: center;
  padding-top: 50px;
}

.client-card__ {
  &avatar {
    width: 70px;
    border-radius: 50%;
  }
  &txt {
    max-width: 350px;
    color: $very-dark-grayish-blue;
    margin: 30px auto;
  }
  &name {
    font-family: $secondary-font-family;
    font-weight: $secondary-font-weight-bold;
    color: $very-dark-desaturated-blue;
    margin-bottom: 10px;
  }
  &occupation {
    font-size: 0.8em;
    color: $grayish-blue;
  }
}

/* ---- gallery ---- */

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* ---- footer ---- */
.footer {
  padding: 60px 40px;
  background-color: $primary-dark-moderate-cyan;
  text-align: center;
  .logo {
    margin-bottom: 30px;
  }
  .local-nav {
    margin-bottom: 60px;
  }
}

// component-local-nav
.local-nav__ {
  &menu {
    display: flex;
    justify-content: center;
  }
  &item {
    margin: 0 30px;
  }
  &link {
    color: $primary-dark-moderate-cyan-keep;
    transition: color 0.5s;
    &:hover {
      color: $white;
    }
  }
}

// social
.social__ {
  // clear white space
  &link {
    display: inline-block;
    margin: 0 15px;
    color: #2c7566;
    font-size: 1.3em;
    transition: color 0.5s;
    &:hover {
      color: $white;
    }
  }
}

/* ---- less than 375px DEVICE ---- */
@media screen and (max-width: 375px) {
  .header {
    .slogan {
      font-size: 3.5rem;
    }
  }
}

/* ---- FOR DESKTOP ---- */
@media screen and (min-width: 760px) {
  /* ---- header ---- */
  .header {
    background-image: url('../images/desktop/image-header.jpg');
  }

  .header {
    .navigation {
      margin-bottom: 100px;
    }
    .slogan {
      font-size: 5rem;
    }
  }

  .navigation {
    .logo {
      width: 150px;
    }
    .hamburger {
      display: none;
    }
    .global-nav {
      display: block;
      position: static;
      width: auto;
      background-color: transparent;

      // triangle
      &::after {
        display: none;
      }
    }
  }

  // component-global-nav
  .global-nav__ {
    &menu {
      padding: 0;
      display: flex;
    }
    &item {
      margin: 0 10px;
    }
    &link {
      color: $white;
      transition: background-color 0.5s, color 0.5s;
      &--current {
        color: $very-dark-desaturated-blue;
        background-color: $white;
      }
      &:hover {
        background-color: $white-opacity;
        color: $white;
      }
    }
  }

  /* ---- feature ---- */
  .feature-card {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &:nth-of-type(odd) {
      .feature-card__ {
        &content {
          order: -1;
        }
      }
    }
  }

  // component-feature-card
  .feature-card__ {
    &content {
      text-align: left;
      place-self: center;
      padding: 50px 30px;
      max-height: 500px;
      overflow: auto;
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #f5f5f5;
      }

      &::-webkit-scrollbar {
        width: 12px;
        background-color: #f5f5f5;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #555;
      }
    }
    &txt {
      max-width: 460px;
    }
    &pic {
      width: 100%;
      height: 100%;
    }
  }

  // service-card-container
  .service-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  // component-service-card
  .service-card {
    &--design {
      background-image: url('../images/desktop/image-graphic-design.jpg');
    }
    &--photography {
      background-image: url('../images/desktop/image-photography.jpg');
    }
  }

  /* ---- testimonials ---- */

  .testimonials {
    padding: 140px 80px;
  }

  // component-client-card
  .client-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
  .client-card {
    padding-top: 70px;
  }
  .client-card__ {
    &txt {
      margin: 50px auto;
    }
  }

  /* ---- gallery ---- */
  .gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /* ---- footer ---- */
  .footer {
    .logo {
      width: 150px;
    }
  }
}
